
.cart_image {
    max-height: 4vw;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 20px;
}

.bangazon_logo {
    max-width: 40vw;
    display: flex;
    margin: auto;
}

.product_title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.product_image {
    max-width: 50vw;
    max-height: 40vh;
    display: flex;
    margin: auto;
}

.product_description {
    width: 90vw;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 16px;
}

.product_price {
    width: 90vw;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.product_quantity {
    width: 90vw;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.add_to_cart {
    border: 3px solid;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 135px;
    justify-content: center;
    font-weight: bold;
    border-radius: 20px;
}

.cart_item_labels {
    display: inline-flex;
}

.cart_item_labels > p {
    font-weight: bolder;
}

.cart_item {
    display: inline-flex;
}

.cart_main_title {
    text-align: center;
    font-weight: bolder;
}

.cart_image_title {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_item_image {
    width: 15vw;
    max-height: 15vw;
}

.cart_title {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_description {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_price {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}