* {
    margin: 0px;
    padding: 0px;
}

.user_welcome {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
}

.recently_add_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.all_products_link {
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
}

.all_products_link > a {
    padding: 6px 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

.all_products_link > a:hover {
    background-color: #c7c7c7;
    color: white;
    border: 3px solid black;
    text-decoration: none;
}

.main_item_link {
    display: inline-block;
    width: 60%;
    text-decoration: none;
    padding-top: .5vw;
    padding-bottom: .5vw;
    margin-left: 20%;
}

.main_item_link:hover {
    text-decoration: none;
    color: black;
    background-color: #c7c7c7;
    color: white;
}

.main_index_image {
    display: inline;
    max-width: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

.main_index_title {
    display: inline-flex;
    font-weight: bold;
    color: black;
    width: 55%;
}

.main_index_price {
    display: inline-flex;
    font-weight: bold;
    color: black;
    width: 23%;
}

.user_welcome {
    text-align: center;
}

.cart_image {
    max-height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 20px;
}

.bangazon_logo {
    max-width: 20vw;
    display: flex;
    margin: auto;
}

.product_title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.product_image {
    max-width: 50vw;
    max-height: 40vh;
    display: flex;
    margin: auto;
}

.product_description {
    width: 90vw;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 16px;
}

.product_price {
    width: 90vw;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.product_quantity {
    width: 90vw;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.add_to_cart {
    border: 3px solid;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 135px;
    justify-content: center;
    font-weight: bold;
    border-radius: 20px;
}

button a {
    color: white;
    text-decoration: none;
}

.cart_item_labels {
    display: inline-flex;
}

.cart_item_labels > p {
    font-weight: bolder;
}

.cart_item {
    display: inline-flex;
}

.cart_main_title {
    text-align: center;
    font-weight: bolder;
}

.cart_image_title {
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_item_image {
    max-width: 8vw;
    max-height: 8vw;
}

.cart_title {
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_description {
    width: 52vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_price {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart_total_title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.cart_total_section {
    width: 30vw;
    margin-left: 35vw;
    background-color: #c7c7c7;
    padding: 1%;
    font-weight: 700;
    margin-bottom: 50px;
}

.indiv_section_cart {
    display: inline-flex;
    width: 100%;
}

.cart_total_label {
    margin: 0px;
    width: 60%;
}

.cart_total_count {
    margin: 0px;
    width: 38%;
    text-align: center;
}

.cart_total_price {
    margin: 0px;
    width: 38%;
    text-align: center;
}

.cart_total_tax {
    margin: 0px;
    width: 38%;
    text-align: center;
}

.cart_total_with_tax {
    margin: 0px;
    width: 38%;
    text-align: center;
}

.cart_icon {
    width: 3%;
    margin: auto;
    margin-right: 1%;
}

.cart_icon_image {
    width: 100%
}

button a {
    color: white;
    text-decoration: none;
}

.category_div{
    margin: 0px 10px;
}

.cat_title {
    margin: 5px 0px;
    padding: 5px 0px;
}

/* Styling for All Products List */
.main_title {
    text-align: center;
    font-weight: 900;
}

.main_product_list {
    width: 90vw;
    margin: auto;
}

.list_products {
    display: inline-block;
    width: 100%;
    border: 3px solid;
    margin-bottom: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding-left: 5vw;
}

.list_products:hover {
    background-color: #c7c7c7;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.all_image {
    max-width: 10vw;
}

.all_list_title {
    display: inline-block;
    width: 45vw;
    margin: 0px;
    margin-left: 3vw;
    vertical-align: middle;
    font-weight: 700;
}

.all_list_price {
    display: inline-block;
    width: 20vw;
    margin: 0px;
    margin-left: 5vw;
    vertical-align: middle;
    font-weight: 700;
}

.select_btn {
    margin-left: 20px;
}

.done_btn {
    margin: 10px 0px 0px 25px;
}

.complete_order form{
    margin: 20px;
}
.complete_order li{
    list-style-type: none;
}

.shop_btn {
    display: flex; 
    justify-content: center;
}
.text_center {
    text-align: center;
}

.lrg-txt {
    font-size: 1.5rem;
}

.password_match {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.register_again {
    border: 2px solid black;
    padding: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.register_again:hover {
    border: 2px solid green;
    color: white;
    background-color: black;
    text-decoration: none;
}