{% extends "index.html" %}
{% block content %}

<h2 class="product_title">Categories</h2>
<div class="category_div">

    <ul class="list-group list-group-flush">
        {% for category in all_productTypes %}

        <a class="category_header_button" href="{% url 'website:category_list' category.id %}">
            <h4>{{category.productCategory}} ({{category.product_set.all|length}})</h4>
        </a>

        {% for products in limit_products_list %}

        {% for product in products %}

        {% if product.productType_id == category.id %}

        <li class="list-group-item"> <a href="{% url 'website:product_details' product.id %}">{{product.title}}</a></li>

        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>

{% endblock content %}