{% extends "index.html" %}
{% load staticfiles %}

{% block content %}


<h1 class="cart_main_title">Viewing {{category.productCategory}} Products</h1>
<section class="cart_item_labels">
    <p class="cart_image_title">Product</p>
    <p class="cart_title">Name</p>
    <p class="cart_description">Description</p>
    <p class="cart_quantity">Quantity</p>
    <p class="cart_price">Price Per Item</p>
</section>
{% for product in products %}
<section class="cart_item">
    <img class="cart_item_image" src={{product.image}} alt={{product.title}}>
    <p class="cart_title"> {{product.title}}</p>
    <p class="cart_description"> {{product.description}}</p>
    <p class="cart_quantity">{{product.quantityRemaining}}</p>
    <p class="cart_price"> ${{product.price}}</p>
    {% if user.is_authenticated %}
    <a class="cart_icon" href="{% url 'website:add_to_cart' product.id %}">
        <img class="cart_icon_image" src="{% static 'website/add.png' %}" alt="Add Item">
    </a>
    {% endif %}
</section>
{% endfor %}

{% endblock %}