{% extends "index.html" %}
{% block content %}

<h2 class="product_title">Categories</h2>
<div class="category_div">

    <ul class="list-group list-group-flush">
        {% for category in all_productTypes %}

        <a class="category_header_button" href="{% url 'website:category_list' category.id %}">
            <h4>{{category.productCategory}} ({{category.product_set.all|length}})</h4>
        </a>
        <article class="main_product_list">
            {% for products in limit_products_list %}

            {% for product in products %}

            {% if product.productType_id == category.id %}

            <a class="list_products" href="{% url 'website:product_details' product.id%}">
                <img class="all_image" src={{product.image}} alt={{product.title}}>
                <p class="all_list_title">{{ product.title }}</p>
                <p class="all_list_price">Price: ${{product.price}}</p>
            </a>

            {% endif %}
            {% endfor %}
            {% endfor %}
        </article>
        {% endfor %}
    </ul>
</div>

{% endblock content %}