{% extends "index.html" %}


{% block content %}
<section>
    <h3>{{user.username}}'s Payment Options</h3>
    <ul class="list-group list-group-flush">
        {% for option in payment_types %}
        <li class="list-group-item"> Option: {{option.paymentCategory}}. <br> With Account Number ending in {{option.Four}}</
        </li>
        <button class="btn btn-primary select_btn"><a href="#">Select Option</a></button>

        {% endfor %}
    </ul>
</section>

{% endblock content %}