{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'website/index.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bangazon</title>
</head>

<body>
    {% block nav %}
    {% include "nav.html" %}
    {% endblock nav %}

    {% block content %}
    {% if user.is_authenticated %}
    <img class="bangazon_logo" src="{% static 'website/bangazon2icon.png' %}" alt="Bangazon Logo">
    <h1 class="user_welcome">Welcome {{ user.username }}!</h1>
    {% else %}
    <h1>Welcome to Bangazon!</h1>
    <img class="bangazon_logo" src="{% static 'website/bangazon2icon.png' %}" alt="Bangazon Logo">
    <h1>Let's Get Started</h1>
    <div><a href="{% url 'website:register' %}">Register</a></div>
    <div><a href="{% url 'website:login' %}">Login</a></div>
    {% endif %}

    <h1 class="recently_add_title">Recently Added Products</h1>
    <p class="all_products_link"><a href="{% url 'website:list_products' %}">View All Products</a></p>
    <article class="main_product_list">
        {% for product in products %}
        <a class="list_products" href="{% url 'website:product_details' product.id%}">
            <img class="all_image" src={{product.image}} alt={{product.title}}>
            <p class="all_list_title">{{ product.title }}</p>
            <p class="all_list_price">Price: ${{product.price}}</p>
        </a>
        {% endfor %}
    </article>

    {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>