{% extends "index.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="user_welcome">Login To</h1>
<img class="bangazon_logo" src="{% static 'website/bangazon2icon.png' %}" alt="Bangazon Logo">

<form id="login_form" method="post" action="{% url 'website:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />

    <input class="register" type="submit" value="Login" />
</form>

{% endblock content %}