{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<section>
        <img class="bangazon_logo_medium" src="{% static 'website/bangazon2icon.png' %}" alt="Bangazon Logo">
        <h1 class="user_welcome">Thanks {{ user.username }}!</h1>
    <h2 class="product_title"> Your Order Is On It's Way! </h2>
    <div class="shop_btn">
        <button id="register_new" ><a href="{% url 'website:categories' %}">Continue Shopping</a></button>
    </div>
</section>

{% endblock content %}