{% extends "index.html" %}
{% load staticfiles %}

{% block content %}

<img class="bangazon_logo_medium" src="{% static 'website/bangazon2icon.png' %}" alt="Bangazon Logo">
<h1 class="user_welcome">{{ user.username }}'s Order History!</h1>
    {% for order in orders  %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'website:order_history_details' user.id order.id %}">Order ID#: {{order.id}}</a>
            {% for key, value in order_totals.items %}
                {% if key == order.id %}
                    <p>Order Grand Total: ${{value.total}}</p>
                {% endif %}
            {% endfor %}
          </li>
        </ul>

    {% endfor %}

{% endblock content %}