{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<p class="product_title"> {{product.title}}</p>
<img class="product_image" src={{product.image}} alt={{product.title}}></img>
<p class="product_description"> {{product.description}}<br></p>
<p class="product_price">Price: ${{product.price}}</p>
<p class="product_quantity">Quantity Available: {{product.quantity}}</p>
{% if user.is_authenticated %}
<p class="rating_text">Your Item Ranking</p>
<section class="star_rating">{{liked|safe}}</section>
{% if ratings != "Null" %}
<p class="rating_text">Your Comment</p>
<p class="rating_comment">"{{ratings.comment}}"</p>
{% endif %}
<a class="add_to_cart" href="{% url 'website:edit_rating' product_id %}">
    Edit Rating/Comment
</a>
<a class="add_to_cart" href="{% url 'website:add_to_cart' product_id %}">
    Add To Cart
</a>
{% endif %}
<a class="similar_items_button" href="{% url 'website:category_list' product.productType_id %}">
    See Similar Products
</a>
{% endblock content %}